<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pruebavision">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".grupo"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"
            android:excludeFromRecents="true">
        </activity>
        <activity android:name=".local.ResultLocal" />
        <activity
            android:name=".local.Local"
            android:label="TFG"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Selection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".online.CloudVision"
            android:screenOrientation="portrait" />
        <activity android:name=".pruebasCamara" />
        <activity
            android:name=".online.Registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".online.Login"
            android:label="TFG"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".online.Result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".online.menu_main"
            android:label="PRINCIPAL"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- android:name="android.support.v4.content.FileProvider" -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>